defaults:
  - _self_
  - task: square_image

name: train_vae
_target_: diffusion_policy.workspace.train_vae_workspace.TrainDiffusionUnetImageWorkspace

task_name: ${task.name}
shape_meta: ${task.shape_meta}
exp_name: "default"

horizon: 16
n_obs_steps: 2
n_action_steps: 8
n_latency_steps: 0
dataset_obs_steps: ${n_obs_steps}
past_action_visible: False
keypoint_visible_rate: 1.0
obs_as_global_cond: True

policy:
  _target_: diffusion_policy.policy.vae_policy.VAEImagePolicy
  shape_meta: ${shape_meta}
  recon_loss: 0.00385
  horizon: ${horizon}
  n_action_steps: ${eval:'${n_action_steps}+${n_latency_steps}'}
  n_obs_steps: ${n_obs_steps}
  vae:
    _target_: diffusion_policy.robomimic.models.vae_nets.VAE
    input_shapes: {'agentview_image': [2,3,84,84], 'robot0_eye_in_hand_image': [2,3,84,84]}
    output_shapes: {'agentview_image':[2,3,84,84],'robot0_eye_in_hand_image': [2,3,84,84]}
    # key_output_shapes: {'image':[2,3,96,96]}
    encoder_layer_dims: [64, 128, 256, 512]
    decoder_layer_dims: [512, 256, 128, 64]
    latent_dim: 512
    device: cuda:0
    condition_shapes: Null
    decoder_is_conditioned: True
    decoder_reconstruction_sum_across_elements: False
    latent_clip: Null
    output_squash: ['agentview_image','robot0_eye_in_hand_image']
    output_scales: {'agentview_image': 1.0,'robot0_eye_in_hand_image':1.0}
    output_ranges: {'agentview_image': [0, 1.0],'robot0_eye_in_hand_image':[0,1.0]}
    prior_learn:  True
    prior_is_conditioned: True
    prior_layer_dims: [64, 128, 256, 512]
    prior_use_gmm: True
    prior_gmm_num_modes: 2
    prior_gmm_learn_weights: True
    prior_use_categorical: False
    prior_categorical_dim: 10
    prior_categorical_gumbel_softmax_hard: False
    goal_shapes: Null
    encoder_kwargs: Null
  num_inference_steps: 100
  obs_as_global_cond: ${obs_as_global_cond}
  # crop_shape: null
  diffusion_step_embed_dim: 128
  down_dims: [512, 1024, 2048]
  kernel_size: 5
  n_groups: 8
  cond_predict_scale: True
  batch_size: 56
dataloader:
  batch_size: 512
  num_workers: 0
  shuffle: True
  pin_memory: False
  persistent_workers: False

val_dataloader:
  batch_size: 56
  num_workers: 4
  shuffle: False
  pin_memory: True
  persistent_workers: False

optimizer:
  _target_: torch.optim.AdamW
  lr: 1.0e-4
  betas: [0.95, 0.999]
  eps: 1.0e-8
  weight_decay: 1.0e-6

training:
  device: "cuda:0"
  seed: 42
  debug: False
  resume: False
  # optimization
  lr_scheduler: cosine
  lr_warmup_steps: 500
  num_epochs: 800
  gradient_accumulate_every: 1
  # EMA destroys performance when used with BatchNorm
  # replace BatchNorm with GroupNorm.
  use_ema: True
  freeze_encoder: False
  # training loop control
  # in epochs
  rollout_every: 50
  checkpoint_every: 50
  val_every: 1
  sample_every: 5
  # steps per epoch
  max_train_steps: null
  max_val_steps: null
  # misc
  tqdm_interval_sec: 1.0

logging:
  project: diffusion_policy_debug
  resume: True
  mode: online
  name: ${now:%Y.%m.%d-%H.%M.%S}_${name}_${task_name}
  tags: ["${name}", "${task_name}", "${exp_name}"]
  id: null
  group: null

checkpoint:
  topk:
    monitor_key: test_mean_score
    mode: max
    k: 5
    format_str: 'epoch={epoch:04d}-test_mean_score={test_mean_score:.3f}.ckpt'
  save_last_ckpt: True
  save_last_snapshot: False

multi_run:
  run_dir: data/outputs/${now:%Y.%m.%d}/${now:%H.%M.%S}_${name}_${task_name}
  wandb_name_base: ${now:%Y.%m.%d-%H.%M.%S}_${name}_${task_name}

hydra:
  job:
    override_dirname: ${name}
  run:
    dir: data/outputs/${now:%Y.%m.%d}/${now:%H.%M.%S}_${name}_${task_name}
  sweep:
    dir: data/outputs/${now:%Y.%m.%d}/${now:%H.%M.%S}_${name}_${task_name}
    subdir: ${hydra.job.num}
